





.projects-section {
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("redpic.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.projects-section h2 {
    font-size: 36px;
    margin-bottom: 50px;
    color: #e0b08c;
}

/* PROJECTS GRID */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
    max-width: 1100px;
    margin: auto;
}

/* PROJECT CARD */
.project-card {
    background: #1c1c1c;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.8);
}

/* IMAGE */
.project-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* TEXT */
.project-card h3 {
    font-size: 22px;
    color: #7b1b46;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.tech {
    font-size: 13px;
    color: #e0b08c;
    font-style: italic;
}
